<section id="video-container">
    <div class="video-overlay"></div>
    <div class="video-content">
        <div class="inner">
            <span>Video Presentation</span>
            <h2>Sed et risus ac sapien congue mattis.</h2>
            <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
        </div>
    </div>
    <video autoplay="" loop="" muted>
         <source src="~/assets/highway-loop.mp4" type="video/mp4" />
    </video>
</section>
